<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/addForm.css" />
  </head>
  <body>
    <div class="main">
      <div class="backtoPage">
        <i class="fa-solid fa-arrow-left iconBack"></i>
        <a href="../index.html">Quay trở về trang chính</a>
      </div>
      <center>
        <h1 class="addCV">Tạo CV mới</h1>
      </center>
      <form class="form-box" action="">
        <!-- PROFILE -->
        <h3 class="titleForm">Thông tin cá nhân</h3>
        <div class="formProfile">
          <div class="inputProfile">
            <div class="inputProfile_field">
              <label for="">Nhập vào tên của bạn</label>
              <input
                name="username"
                type="text"
                placeholder="Enter your name" />
            </div>

            <div class="inputProfile_field">
              <label for="">Nhập vào link ảnh</label>
              <input
                name="image"
                type="text"
                placeholder="Enter your image link" />
            </div>

            <div class="inputProfile_field">
              <label for="">Nhập vào số điện thoại của bạn</label>
              <input
                name="phone"
                type="text"
                placeholder="Enter your phone number" />
            </div>
            <div class="inputProfile_field">
              <label for="">Nhập vào email của bạn</label>
              <input name="email" type="email" placeholder="Enter your email" />
            </div>
            <div class="inputProfile_field">
              <label for="">Nhập vào công việc hiện tại của bạn</label>
              <input
                name="currentjob"
                type="text"
                placeholder="Enter your current profession" />
            </div>
            <div class="inputProfile_field">
              <label for="">Nhập vào địa chỉ của bạn</label>
              <input
                name="addrres"
                type="text"
                placeholder="Enter your address" />
            </div>

            <div class="inputProfile_field">
              <label for="">Giới thiệu ngắn về bản thân</label>
              <textarea
                placeholder="Enter your introduction"
                name="introduction"
                id="introduction"
                cols="30"
                style="width: 1070px"
                rows="10"></textarea>
            </div>
          </div>
        </div>

        <!-- LANGUGAES, EXPERTISES -->
        <h3 id="title1" class="titleSkill" for="">Kỹ năng cá nhân</h3>
        <div class="formSkills">
          <div class="aboutSkills">
            <label for="">
              <strong>* </strong>Ngôn ngữ thông dụng của bạn</label
            >
            <button class="btnAdd_LanguageSkill">+</button>
          </div>
          <div class="inputSkills">
            <div class="inputSkill_item">
              <label for=""></label>
              <div class="inputSkill__handle">
                <input
                  name="language"
                  type="text"
                  placeholder="Enter your language" />
                <button type="button" class="removeLanguage">X</button>
              </div>
            </div>
            <div class="inputSkill_item">
              <label for=""></label>
              <div class="inputSkill__handle">
                <input
                  name="language"
                  type="text"
                  placeholder="Enter your language" />
                <button type="button" class="removeLanguage">X</button>
              </div>
            </div>
            <div class="inputSkill_item">
              <label for=""></label>
              <div class="inputSkill__handle">
                <input
                  name="language"
                  type="text"
                  placeholder="Enter your language" />
                <button type="button" class="removeLanguage">X</button>
              </div>
            </div>
          </div>
          <center>
            <hr style="margin-top: 20px; width: 100%" />
          </center>
          <div class="aboutSkills">
            <label for=""> <strong>* </strong>Chuyên môn của bạn</label>
            <button class="btnAdd_ExpertisesSkill">+</button>
          </div>
          <div class="inputExpertises">
            <div class="inputExpertises_item">
              <label for=""></label>
              <div class="inputExpertises__handle">
                <input
                  name="expertises"
                  type="text"
                  placeholder="Enter your expertises" />
                <button type="button" class="removeExpertises">X</button>
              </div>
            </div>
            <div class="inputExpertises_item">
              <label for=""></label>
              <div class="inputExpertises__handle">
                <input
                  name="expertises"
                  type="text"
                  placeholder="Enter your expertises" />
                <button type="button" class="removeExpertises">X</button>
              </div>
            </div>
            <div class="inputExpertises_item">
              <label for=""></label>
              <div class="inputExpertises__handle">
                <input
                  name="expertises"
                  type="text"
                  placeholder="Enter your expertises" />
                <button type="button" class="removeExpertises">X</button>
              </div>
            </div>
          </div>
        </div>

        <!-- EXPERIENCE -->
        <h3 id="title2" class="titleSkill" for="">Kinh nghiệm làm việc</h3>
        <div class="formExperience">
          <div class="aboutSkills">
            <label for="">
              <strong>* </strong>Kinh nghiệm làm việc từng có</label
            >
            <button class="btnAdd_Experience">+</button>
          </div>
          <div class="input_Experience">
            <div class="inputExperience__First">
              <div class="inputExperience__item">
                <label for="">Tên doanh nghiệp</label>
                <input
                  name="companyName"
                  type="text"
                  placeholder="Enter Company Name" />
              </div>
              <div class="inputExperience__item">
                <label for="">Nơi làm việc </label>
                <input
                  name="companyLocal"
                  type="text"
                  placeholder="Enter Location" />
              </div>
              <div class="inputExperience__item inputDate">
                <label for="">Năm làm việc </label>
                <input
                  name="companyYears"
                  type="text"
                  placeholder="Years of work" />
              </div>
            </div>
            <div class="inputExperience_Second">
              <div class="inputExperience__item inp_textarea">
                <label for="">Mô tả về công việc </label>
                <textarea
                  style="width: 100%"
                  name="companyDesc"
                  id=""
                  cols="30"
                  rows="10"
                  placeholder="Job description"></textarea>
              </div>
            </div>
          </div>
        </div>

        <h3 id="title3" class="titleSkill" for="">Học vấn</h3>
        <div class="formEducation">
          <div class="aboutSkills">
            <label for=""> <strong>* </strong>Quá trình học vấn cá nhân</label>
            <button class="btnAdd_Education">+</button>
          </div>
          <div class="input_Education">
            <div class="inputEducation__item">
              <label for="">Tên trường</label>

              <input
                name="schoolName"
                type="text"
                placeholder="Enter School Name" />
            </div>
            <div class="inputEducation__item">
              <label for="">Chuyên ngành</label>
              <input name="schoolMajor" type="text" placeholder="Enter Major" />
            </div>
            <div class="inputEducation__item inputDate">
              <label for="">Niên khóa</label>
              <input
                name="schoolYears"
                type="text"
                placeholder="Years of work" />
            </div>
          </div>
        </div>

        <h3 id="title4" class="titleSkill" for="">Một số kỹ năng khác</h3>
        <div class="formSkillSummary">
          <div v class="aboutSkills">
            <label for="">
              <strong>* </strong>Kỹ năng có thêm của bạn
              <span style="font-weight: 400; color: gray; font-style: italic"
                >Ví dụ: Kỹ năng mềm, chứng chỉ...</span
              ></label
            >
          </div>
          <div class="input_Education">
            <textarea
              style="margin-top: 10px"
              name="summaryInput"
              placeholder="Enter your skill summary"
              id=""
              cols="30"
              rows="10"></textarea>
          </div>
        </div>

        <button class="submitBtn">THÊM CV</button>
      </form>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer" />

  <script type="module" src="../controllers/addform.ts"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>
